### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

#Folder
complex_bessel-master/
build/
results/
.vscode/
run/

# Text Files
*.txt
*.dat

#Heavy Files
src/IN51.cpp
src/IN61.cpp
src/IN71.cpp 
